<!--
  ~ SPDX-FileCopyrightText: 2017-2026 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->
  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-2">
      {{ 'tokens.list.title' | translate }}
    </h4>

    <button type="button" class="btn btn-primary mb-2" (click)="createToken()">
      <span class="fa fa-plus" aria-hidden="true"></span>
      {{ 'tokens.list.actions.create' | translate }}
    </button>
</div>

<ul class="list-group list-group-flush">
    @if (displayCreatedToken) {
      <li class="list-group-item">
          <p class="mb-1 fw-medium">
              {{ createdAccessToken.note }}
          </p>

          @if (createdAccessToken.expiresAt != null) {
            <p class="mb-0 text-muted small">
                {{ 'tokens.list.expiresAt' | translate }} {{ createdAccessToken.expiresAt | date:'dd/MM/yyyy'}}
            </p>
          }

          <p class="text-muted mt-2">
              {{ 'tokens.list.keepIt' | translate }}
          </p>
          <p class="p-2 border rounded">
              {{ createdAccessToken.token}}
          </p>
      </li>
    }
    @for (token of tokens; track token) {
        <li class="list-group-item">
            <p class="mb-1 fw-medium">
                {{ token.note }}
            </p>

            @if (token.expiresAt != null) {
            <p class="mb-0 text-muted small">
                {{ 'tokens.list.expiresAt' | translate }} {{ token.expiresAt | date:'dd/MM/yyyy'}}
            </p>
            }
        </li>
    }
</ul>


