/*!
 * SPDX-FileCopyrightText: 2017-2026 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */
 
 .tokens-form-group {
    background-color:  var(--bs-light);
    padding: 1em;
    border-radius: 1em;
    width: fit-content;
}
