
<!--
  ~ SPDX-FileCopyrightText: 2017-2024 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<div class="campaign-container">
  <div class="campaign-1 w-100">
    <div class="input-group mb-1">
      <input type="text" class="form-control" placeholder="{{ 'campaigns.search.placeholder' | translate }}" [ngModel]="campaignFilter" (ngModelChange)="campaignFilterChange($event)">
    </div>
    <div class="w-auto" style="min-width: 170px;">
      @if ( !isSelectAll()) {
        <button type="button" class="btn btn-sm btn-outline-primary m-2" (click)="selectAll()">
          <span class="fa fa-check"></span> {{ 'campaigns.search.selectAllText' | translate }}
        </button>
      }
      @if (isSelectAll()) {
        <button type="button" class="btn btn-sm btn-outline-primary m-2" (click)="deselectAll()">
          <span class="fa fa-times"></span> {{ 'campaigns.search.deselectAllText' | translate }}
        </button>
      }
    </div>
    <div class="d-flex flex-wrap w-auto mt-1 mb-3">
      <div class="align-self-center">
        <button class="chutney-tag"
          [ngClass]="tagFilter.isNoTagSelected() ? 'chutney-tag-selected' : 'chutney-tag-unselected'"
          (click)="toggleNoTagFilter()">
          NO_TAG
        </button>
      </div>
      <div class="border-end border-dark ms-2 me-2"></div>
      @for (tag of tagFilter.all(); track tag) {
        <div class="align-self-center">
          <button
            [ngClass]="tagFilter.isSelected(tag)? 'chutney-tag chutney-tag-selected' : 'chutney-tag chutney-tag-unselected'"
            (click)="toggleTagFilter(tag)">
            {{tag}}
          </button>
        </div>
      }
    </div>
  </div>

  <div class="campaign-2 w-100">
    @if (isAuthorizedToWriteCampaign) {
        <button type="button" class="btn btn-primary" (click)="createCampaign()">
          <span class="fa fa-plus" aria-hidden="true"></span> {{ 'campaigns.list.actions.create' | translate }}
        </button>
    }
    @if (isAuthorizedToWriteExecutions) {
        <button type="button" class="btn btn-primary ms-2" [routerLink]="['scheduling']">
          <span class="fa fa-plus" aria-hidden="true"></span> {{ 'campaigns.scheduling.schedule' | translate }}
        </button>
    }
  </div>

  <div class="campaign-3 w-100">
    @if (viewedCampaigns.length > 0) {
      <div class="table-responsive">
        <table class="table table-sm table-striped table-hover align-baseline">
          <tbody>
            @for (campaign of (viewedCampaigns | searchTextPipe : campaignFilter:campaignFilterAttributes); track campaign.id) {
              <tr>
                <td (click)="showCampaign(campaign, $event)" class="small_text w93 align-middle cursor-pointer">{{campaign.title}}</td>
                <td class="ps-0 w1">
                  @if (jiraMap.has(campaign.id.toString())) {
                    <a role="button" class="btn btn-sm btn-link me-0"
                      target="_blank" href="{{getJiraLink(campaign.id.toString())}}" rel="noopener noreferrer"
                      title="{{jiraMap.get(campaign.id.toString())}}"
                      (click)="$event.stopPropagation()">
                      <span class="fab fa-jira" aria-hidden="true">
                      </span>
                    </a>
                  }
                </td>
                <td class="ps-0 w1">
                  @if (campaign.tags.length <= 3) {
                    @for (tag of campaign.tags; track tag) {
                      <span class="badge bg-primary">{{tag}}</span>
                    }
                  }
                  @if (campaign.tags.length > 3) {
                    @for (tag of campaign.tags | slice:0:2; track tag) {
                      <span class="badge bg-primary">{{tag}}</span>
                    }
                    <button type="button" class="badge bg-primary"
                      title="{{campaign.tags}}">
                      ...
                    </button>
                  }
                </td>
                <td class="ps-0 w1 align-middle">
                  <button type="button" class="btn btn-link me-0"
                    title="{{campaign.description}}">
                    <span class="fa fa-info-circle" aria-hidden="true"></span>
                  </button>
                </td>
                <td class="ps-0 w2 align-middle">
                  <button type="button" class="btn btn-sm btn-outline-primary"
                          [disabled]="!isAuthorizedToReadCampaign"
                          (click)="editCampaign(campaign, $event)"
                          title="{{ (isAuthorizedToWriteCampaign ? 'global.actions.edit' : 'global.actions.show') | translate }}">
                    <span class="fa" [ngClass]="isAuthorizedToWriteCampaign ? 'fa-pencil-alt' : 'fa-eye'"></span>
                  </button>
                </td>
                <td class="ps-0 w2 align-middle">
                  <button type="button" class="btn btn-sm btn-outline-danger"
                          [disabled]="!isAuthorizedToWriteCampaign"
                          title="{{ 'global.actions.delete' | translate }}"
                          (click)="deleteCampaign(campaign.id, campaign.title,$event)">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
    @if (campaigns.length == 0) {
      <div class="alert alert-dark col-md-12 not-found text-muted">
        <span>{{ 'campaigns.list.empty' | translate }}</span>
      </div>
    }
  </div>
  <div class="campaign-4 w-100">
    @if (scheduledCampaigns.length > 0) {
      <h4>{{ 'campaigns.list.executions.next' | translate }}</h4>
    }
    @if (scheduledCampaigns.length > 0) {
      <div class="table-responsive">
        <table class="table table-sm table-striped">
          <tbody>
            @for (scheduledCampaign of scheduledCampaigns; track scheduledCampaign.id) {
              <tr>
                <td [ngClass]="{'scheduled-campaign-error': scheduledCampaignHasMissingEnv(scheduledCampaign)}" class="w80">#{{scheduledCampaign.id}}
                  @if (isFrequencyCampaign(scheduledCampaign)) {
                    <span data-toggle="tooltip"
                      title="{{scheduledCampaign.frequency.toLowerCase()}}"
                      class="fa fa-spinner fa-spin running"
                              [ngStyle]="{
                                'color':scheduledCampaign.frequency=== 'Daily'? 'green':
                                scheduledCampaign.frequency==='Weekly'? 'orange':
                                scheduledCampaign.frequency==='Monthly'? 'red': 'blue'
                                }"
                    aria-hidden="true"></span>
                  }
                  - {{ getCampaignTitles(scheduledCampaign) }}
                </td>
                <td [ngClass]="{'scheduled-campaign-error': scheduledCampaignHasMissingEnv(scheduledCampaign)}" class="text-nowrap">{{scheduledCampaign.schedulingDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                <td>
                  @if (scheduledCampaignHasMissingEnv(scheduledCampaign)) {
                    <span style="color: red;" class="fa fa-triangle-exclamation" title="{{'campaigns.list.error.environment' | translate}}"></span>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
    <h4>{{ 'campaigns.list.executions.last' | translate }}</h4>
    @if (campaigns.length > 0) {
      <div class="table-responsive">
        <table class="table table-sm table-striped">
          <tbody>
            @for (report of lastCampaignReports; track $index) {
              <tr class="small_text">
                <td class="w25 text-nowrap"> {{ toIsoDate(report.startDate) | amDateFormat: 'DD MMM. YYYY HH:mm' }}</td>
                <td class="ps-0 w60">
                  @if (isAuthorizedToReadExecutions) {
                    <a
                    [routerLink]="['/campaign', campaignIdFromName(report.campaignName), 'executions']"
                    [queryParams]="{active: report.executionId, open: report.executionId}"
                    >
                    {{ report.campaignName }}
                  </a>
                  } @else {
                    {{ report.campaignName }}
                  }
                </td>
                <td class="ps-0 w5">
                  <chutney-execution-badge [status]="report.status" [spin]="true"></chutney-execution-badge>
                </td>
                <td class="text-center text-nowrap ps-0 w10">{{ report.duration | duration:'short'}}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</div>
