<!--
  ~ SPDX-FileCopyrightText: 2017-2026 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<div class="modal-body" ngbAutofocus>
  @if (errorMessage) {
  <div class="alert alert-dismissible alert-danger mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="errorMessage = null"></button>
    {{ errorMessage }}
  </div>
  }

  @if (environments.length > 1) {
  <div class="form-floating select-wrapper">
      <select id="environment" [(ngModel)]="selectedEnv" class="form-select">
        @for (environment of environments; track environment) {
            <option>{{environment}}</option>
        }
      </select>
      <label for="environment">
        {{ "scenarios.execution.history.env" | translate }}
      </label>
      <button *ngIf="selectedEnv !== null" type="button" class="select-clear" (click)="selectedEnv = null" aria-label="Clear">
          <i class="bi bi-x"></i>
      </button>
  </div>
  }

  @if (jiraLink) {
    <div class="row px-2 mt-3">
    <p-floatlabel>
      <input type="text" id="jiraId" pInputText class="form-control me-2 small-text"
            [(ngModel)]="selectedJiraId"/>
      <label for="jiraId" class="p-2">{{'menu.principal.jiraId' | translate}}</label>
    </p-floatlabel>
    <ng-template #jiraFieldHelp>{{'campaigns.edition.jiraIdInfo.testPlan' | translate}}<br>{{'campaigns.edition.jiraIdInfo.testExec' | translate}}</ng-template>
    <button type="button" class="btn display-flex"
      [ngbPopover]="jiraFieldHelp" triggers="mouseenter:mouseleave">
      <span class="fa fa-info-circle" aria-hidden="true"></span>
    </button>
    </div>
  }

    <div ngbDropdown
     class="dataset-select w-100"
     [autoClose]="'outside'"
     #datasetDropdown="ngbDropdown">

    <div class="dataset-field">
        <button type="button"
                class="form-control dataset-select-toggle text-start"
                ngbDropdownToggle
                id="dataset-selection">
            <div class="d-flex align-items-center justify-content-between">
                <span class="option-label text-truncate">
                    {{ selectedDataset?.name || '' }}
                </span>
                @if (selectedDataset && selectedDataset !== createDataset) {
                    <div class="d-flex flex-row me-2"
                         (click)="$event.stopPropagation()">
                        @if (datasetDetails?.uniqueValues?.length) {
                            <button type="button"
                                    class="btn btn-sm btn-outline-primary border-0"
                                    title="{{ 'global.actions.show' | translate }}"
                                    (click)="showHideDataset($event)">
                                <span class="fa-regular fa-fw fa-eye"></span>
                            </button>
                        }
                        <button type="button"
                                class="btn btn-sm btn-outline-primary border-0"
                                title="{{ 'global.actions.edit' | translate }}"
                                (click)="editDataset($event, selectedDataset)">
                            <span class="fa fa-fw fa-pencil-alt"></span>
                        </button>
                    </div>
                }
            </div>
        </button>
        <label for="dataset-selection">
            {{ "scenarios.execution.history.dataset" | translate }}
        </label>
    </div>

    <div ngbDropdownMenu
         class="dataset-dropdown-menu w-100">
        <div class="p-2"
             (click)="$event.stopPropagation()">
            <div class="input-group">
                <input type="text"
                       role="searchbox"
                       autocomplete="off"
                       class="form-control"
                       (keyup)="datasetFilter($event)"
                       (keydown)="$event.stopPropagation()">
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </div>
        </div>

        <div class="dataset-options">
            @for (dataset of filteredDatasets; track dataset) {
                <button type="button"
                        ngbDropdownItem
                        class="d-flex align-items-center justify-content-between"
                        [class.active]="dataset === selectedDataset"
                        (click)="selectDataset(dataset, datasetDropdown)">
                    <span class="option-label">
                        {{ dataset.name }}
                    </span>
                    @if (dataset !== createDataset) {
                        <span class="ms-3">
                            @for (tag of dataset.tags; track $index) {
                                <span class="chutney-tag chutney-tag-selected ms-1">
                                    {{ tag }}
                                </span>
                            }
                        </span>
                    }
                </button>
            } @empty {
                <div class="text-muted text-center p-3">
                    {{ 'global.msg.empty' | translate }}
                </div>
            }
        </div>
    </div>
  </div>
  </div>

  <div [ngbCollapse]="isCollapsed" class="my-2">
    <table class="table table-hover table-sm">
      <tbody>
        @for ( datasetUniqueValue of datasetDetails?.uniqueValues; track $index) {
        <tr>
          <td>{{ datasetUniqueValue.key }}</td>
          <td>{{ datasetUniqueValue.value }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

    @if (editionDataset) {
    <ng-container [formGroup]="datasetForm">
        <div class="m-3">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item cursor-pointer">
                        <a class="nav-link" [ngClass]="{ 'active':activeTab==='keyValue'}"
                           (click)="selectTab('keyValue')"><span class="fa fa-list" aria-hidden="true"></span></a>
                    </li>
                    <li class="nav-item cursor-pointer">
                        <a class="nav-link" [ngClass]="{ 'active':activeTab==='multiKeyValue'}"
                           (click)="selectTab('multiKeyValue')"><span class="fa fa-th" aria-hidden="true"></span></a>
                    </li>
                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane" id="keyValue" [ngClass]="{ 'active':activeTab==='keyValue'}">
                        <chutney-forms-key-value formControlName="keyValues" [enableImportExport]="false"></chutney-forms-key-value>
                    </div>
                    <div class="tab-pane" id="mulitKeyValue" [ngClass]="{ 'active':activeTab==='multiKeyValue'}">
                        <chutney-forms-data-grid formControlName="multiKeyValues" [enableImportExport]="false"></chutney-forms-data-grid>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-end m-3" *hasAuthorization="[Authorization.DATASET_WRITE]">
            <div class="d-flex me-3 align-content-center me-2">
                <label class="form-check-label me-2" for="saveDatasetCheckbox">{{ "scenarios.execution.modal.saveDatasetCheckbox" | translate }}</label>
                <input id="saveDatasetCheckbox" type="checkbox" class="form-check-input" formControlName="saveDatasetCheckbox"/>
            </div>
            @if (datasetForm.get('saveDatasetCheckbox').value) {
                <div class="d-flex flex-column justify-content-end m-2 w-50">
                    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': datasetFormControl.saveDatasetName.invalid && datasetFormControl.saveDatasetName.touched }" id="saveDatasetName" formControlName="saveDatasetName" placeholder="{{ 'scenarios.execution.modal.saveDatasetInputPlaceholder' | translate }}"/>
                    <div class="invalid-feedback">
                        {{ "scenarios.execution.modal.error.datasetEmptyName" | translate }}
                    </div>
                </div>
            }
        </div>
    </ng-container>
    }


<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel click')">{{ "global.actions.cancel" | translate }}</button>
  <button type="button" class="btn btn-primary" (click)="executeModal()" [disabled]="!environmentsLoaded">{{ "global.actions.execute" | translate }}</button>
</div>

