/*!
 * SPDX-FileCopyrightText: 2017-2024 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

th > span, th > button {
    background-color: transparent !important;
}

.option-label {
    white-space: normal !important;
}

p-select {
    .btn-sm, .btn-group-sm > .btn {
        line-height: initial;
    }
}

.display-flex {
    display: flex;
}
