<!--
  ~ SPDX-FileCopyrightText: 2017-2024 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<div class="modal-body" ngbAutofocus>
  @if (errorMessage) {
  <div class="alert alert-dismissible alert-danger mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="errorMessage = null"></button>
    {{ errorMessage }}
  </div>
  }

  @if (environments.length > 1) {
  <div class="row px-2 mt-3">
      <p-floatLabel>
          <p-select [options]="environments" [(ngModel)]="selectedEnv"
                    [showClear]="true" variant="filled" class="p-0 w-100"></p-select>
          <label class="p-2">{{ "scenarios.execution.history.env" | translate }}</label>

      </p-floatLabel>
  </div>
  }

  @if (jiraLink) {
    <div class="row px-2 mt-3">
    <p-floatlabel>
      <input type="text" id="jiraId" pInputText class="form-control me-2 small-text"
            [(ngModel)]="selectedJiraId"/>
      <label for="jiraId" class="p-2">{{'menu.principal.jiraId' | translate}}</label>
    </p-floatlabel>
    <ng-template #jiraFieldHelp>{{'campaigns.edition.jiraIdInfo.testPlan' | translate}}<br>{{'campaigns.edition.jiraIdInfo.testExec' | translate}}</ng-template>
    <button type="button" class="btn display-flex"
      [ngbPopover]="jiraFieldHelp" triggers="mouseenter:mouseleave">
      <span class="fa fa-info-circle" aria-hidden="true"></span>
    </button>
    </div>
  }

  <div class="row px-2 mt-3">
      <p-floatLabel>
            <p-select
            class="p-0 w-100"
            [options]="filteredDatasets"
            [(ngModel)]="selectedDataset"
            (ngModelChange)="selectedDatasetChanged()"
            optionLabel="name"
            variant="filled"
            [filter]="true"
            [showClear]="true"
            [emptyMessage]=" 'global.msg.empty' | translate "
            (onChange)="this.getDatasetDetails()"
            inputId="dataset-selection">
            <ng-template pTemplate="selectedItem" let-selectedDataset>
              <div class="d-flex justify-content-between me-3">
                <span class="option-label">{{ selectedDataset.name }} </span>
                <div class="d-flex flex-row">
                  @if ( datasetDetails?.uniqueValues.length ) {
                    <button type="button" class="btn btn-sm btn-outline-primary border-0" data-bs-toggle="button"
                            title="{{'global.actions.show' | translate}}"
                            (click)="this.showHideDataset($event)">
                        <span class="fa-regular fa-fw fa-eye"></span>
                    </button>
                  }
                  @if ( createDataset != selectedDataset ) {
                    <button type="button" class="btn btn-sm btn-outline-primary border-0" data-bs-toggle="button"
                            title="{{'global.actions.edit' | translate}}"
                            (click)="this.editDataset($event, selectedDataset)">
                        <span class="fa fa-fw fa-pencil-alt"></span>
                    </button>
                  }
                </div>
              </div>
            </ng-template>
            <ng-template let-dataset pTemplate="item">
              <div class="w-100">
                <span class="option-label">{{ dataset.name }}</span>
                <div class="float-end">
                  @for (tag of dataset.tags; track $index) {
                  <span class="chutney-tag chutney-tag-selected">{{ tag }}</span>
                  }
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-options="options">
              <div class="flex gap-1">
                  <p-inputgroup (click)="$event.stopPropagation()">
                      <input type="text" role="searchbox" autocomplete="off" class="p-select-filter p-inputtext p-component form-control"
                             [(ngModel)]="filterValue" (keyup)="datasetFilter($event)" />
                      <p-inputgroup-addon>
                          <span class="p-inputgroup-addon"><i class="fa-solid fa-magnifying-glass"></i></span>
                      </p-inputgroup-addon>
                  </p-inputgroup>
              </div>
            </ng-template>
          </p-select>
          <label class="p-2">{{ "scenarios.execution.history.dataset" | translate }}</label>
      </p-floatLabel>
  </div>

  <div [ngbCollapse]="isCollapsed" class="my-2">
    <table class="table table-hover table-sm">
      <tbody>
        @for ( datasetUniqueValue of datasetDetails?.uniqueValues; track $index) {
        <tr>
          <td>{{ datasetUniqueValue.key }}</td>
          <td>{{ datasetUniqueValue.value }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

    @if (editionDataset) {
    <ng-container [formGroup]="datasetForm">
        <div class="m-3">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item cursor-pointer">
                        <a class="nav-link" [ngClass]="{ 'active':activeTab==='keyValue'}"
                           (click)="selectTab('keyValue')"><span class="fa fa-list" aria-hidden="true"></span></a>
                    </li>
                    <li class="nav-item cursor-pointer">
                        <a class="nav-link" [ngClass]="{ 'active':activeTab==='multiKeyValue'}"
                           (click)="selectTab('multiKeyValue')"><span class="fa fa-th" aria-hidden="true"></span></a>
                    </li>
                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane" id="keyValue" [ngClass]="{ 'active':activeTab==='keyValue'}">
                        <chutney-forms-key-value formControlName="keyValues" [enableImportExport]="false"></chutney-forms-key-value>
                    </div>
                    <div class="tab-pane" id="mulitKeyValue" [ngClass]="{ 'active':activeTab==='multiKeyValue'}">
                        <chutney-forms-data-grid formControlName="multiKeyValues" [enableImportExport]="false"></chutney-forms-data-grid>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-end m-3" *hasAuthorization="[Authorization.DATASET_WRITE]">
            <div class="d-flex me-3 align-content-center me-2">
                <label class="form-check-label me-2" for="saveDatasetCheckbox">{{ "scenarios.execution.modal.saveDatasetCheckbox" | translate }}</label>
                <input id="saveDatasetCheckbox" type="checkbox" class="form-check-input" formControlName="saveDatasetCheckbox"/>
            </div>
            @if (datasetForm.get('saveDatasetCheckbox').value) {
                <div class="d-flex flex-column justify-content-end m-2 w-50">
                    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': datasetFormControl.saveDatasetName.invalid && datasetFormControl.saveDatasetName.touched }" id="saveDatasetName" formControlName="saveDatasetName" placeholder="{{ 'scenarios.execution.modal.saveDatasetInputPlaceholder' | translate }}"/>
                    <div class="invalid-feedback">
                        {{ "scenarios.execution.modal.error.datasetEmptyName" | translate }}
                    </div>
                </div>
            }
        </div>
    </ng-container>
    }


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel click')">{{ "global.actions.cancel" | translate }}</button>
  <button type="button" class="btn btn-primary" (click)="executeModal()" [disabled]="!environmentsLoaded">{{ "global.actions.execute" | translate }}</button>
</div>

