/*!
 * SPDX-FileCopyrightText: 2017-2024 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

@use "bootstrap/scss/bootstrap" as bootstrap;

.table-pagination-controls {
  text-align: center;
}

.table-pagination-controls ::ng-deep .ngx-pagination {
  font-size: 0.8rem;

  .current {
    background: bootstrap.$primary;
  }
}
