#SPDX-FileCopyrightText: 2017-2024 Enedis
#SPDX-License-Identifier: Apache-2.0

name: "Build all template"

on:
  workflow_call:
    inputs:
      skipTests:
        default: false
        type: boolean
        description: "Skip tests if true"
      release:
        default: false
        type: boolean
        description: "Release if true"
      cache-artifacts:
        default: ""
        type: string
        description: "path of artifacts to be cached"
      server-id:
        type: string
        default: github
        description: "DistributionManagement repository id"

    secrets:
      gpg-private-key:
        description: "Chutney gpg private key"
        required: false
      gpg-passphrase:
        description: "Chutney gpg passphrase"
        required: false
      gpg-key-id:
        description: "Chutney gpg key id"
        required: false
      maven-username:
        description: "MAVEN_USERNAME secret"
        required: false
      maven-password:
        description: "MAVEN_PASSWORD secret"
        required: false
      github-token:
        description: "GITHUB_TOKEN secret"
        required: false

    outputs:
      PROJECT_VERSION:
        description: "Chutney Version"
        value: ${{ jobs.all.outputs.PROJECT_VERSION }}

defaults:
  run:
    working-directory: .

jobs:
  chutney:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
          server-id: ${{inputs.server-id}}
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.gpg-private-key }}
          gpg-passphrase: CHUTNEY_GPG_PASSPHRASE

      - name: Retrieve chutney version from pom.xml
        id: get-version
        run: echo "PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT && cd ..

      - name: Resolve chutney maven goal from inputs
        id: chutney-goals
        run: |
          skipTestArg="-DskipTests"
          mvnGoals="clean install"
          if ${{ inputs.release }}; then
            mvnGoals="deploy -P ${{inputs.server-id}}"
            skipTestArg="-DskipTests"
          fi
          echo "CHUTNEY_GOALS=$mvnGoals $skipTestArg -V -B" >> $GITHUB_OUTPUT

      - name: Build Chutney
        id: build-chutney
        uses: ./.github/actions/build-chutney
        env:
          MAVEN_USERNAME: ${{secrets.maven-username}}
          MAVEN_PASSWORD: ${{secrets.maven-password}}
          CHUTNEY_GPG_PASSPHRASE: ${{ secrets.gpg-passphrase }}
        with:
          goals: ${{steps.chutney-goals.outputs.CHUTNEY_GOALS}}
          cache-artifacts: ${{ inputs.cache-artifacts }}

      - name: Output Chutney artifact
        id: output-chutney-artifacts
        run: |
          pwd
          ls

    outputs:
      PROJECT_VERSION: ${{ steps.get-version.outputs.PROJECT_VERSION }}
      CHUTNEY_JAR: ${{ steps.build-chutney.outputs.CHUTNEY_JAR }}

  idea-plugin:
    needs: chutney
    runs-on: ubuntu-latest
    env:
      CHUTNEY_VERSION: ${{needs.chutney.outputs.PROJECT_VERSION}}
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - download_name: chutney-artifacts
            asset_path: artifacts/chutney/server/target/chutney-server-4.0.1-SNAPSHOT.jar
            asset_name: chutney-server-4.0.1-SNAPSHOT.jar
            asset_content_type: application/java-archive
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
          server-id: ${{inputs.server-id}}
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.gpg-private-key }}
          gpg-passphrase: CHUTNEY_GPG_PASSPHRASE

      - name: Get Chutney version
        run: echo $CHUTNEY_VERSION

      - name: Get ${{ matrix.download_name }} from build job
        uses: actions/download-artifact@v5
        with:
          name: ${{ matrix.download_name }}
          path: artifacts

      - name: Upload Chutney artifacts to local
        run: |
          echo $CHUTNEY_VERSION
          cd artifacts
          mkdir -p "/home/runner/.m2/repository/fr/enedis/chutney/chutney-testing-parent/4.0.1-SNAPSHOT" && mv pom.xml "/home/runner/.m2/repository/fr/enedis/chutney/chutney-testing-parent/4.0.1-SNAPSHOT/chutney-testing-parent-4.0.1-SNAPSHOT.pom"
          mkdir -p "/home/runner/.m2/repository/fr/enedis/chutney/chutney-parent/4.0.1-SNAPSHOT" && mv chutney/pom.xml "/home/runner/.m2/repository/fr/enedis/chutney/chutney-parent/4.0.1-SNAPSHOT/chutney-parent-4.0.1-SNAPSHOT.pom"
          mkdir -p "/home/runner/.m2/repository/fr/enedis/chutney/chutney-server/4.0.1-SNAPSHOT" && cp chutney/server/target/chutney-server-4.0.1-SNAPSHOT.jar "/home/runner/.m2/repository/fr/enedis/chutney/chutney-server/4.0.1-SNAPSHOT"
          mv chutney/server/pom.xml "/home/runner/.m2/repository/fr/enedis/chutney/chutney-server/4.0.1-SNAPSHOT/chutney-server-4.0.1-SNAPSHOT.pom"
          mkdir -p "/home/runner/.m2/repository/fr/enedis/chutney/chutney-kotlin-dsl/4.0.1-SNAPSHOT" && cp kotlin-dsl/target/chutney-kotlin-dsl-4.0.1-SNAPSHOT.jar "/home/runner/.m2/repository/fr/enedis/chutney/chutney-kotlin-dsl/4.0.1-SNAPSHOT"
          mv kotlin-dsl/pom.xml "/home/runner/.m2/repository/fr/enedis/chutney/chutney-kotlin-dsl/4.0.1-SNAPSHOT/chutney-kotlin-dsl-4.0.1-SNAPSHOT.pom"
          echo "copy done"
          cd /home/runner/.m2/repository/fr/enedis/chutney/chutney-kotlin-dsl/4.0.1-SNAPSHOT
          ls
          cd /home/runner/.m2/repository/fr/enedis/chutney/chutney-parent/4.0.1-SNAPSHOT
          ls
          cat -e chutney-parent-4.0.1-SNAPSHOT.pom
          cd /home/runner/.m2/repository/fr/enedis/chutney/chutney-server/4.0.1-SNAPSHOT
          ls

      - name: Resolve plugin gradle goal from inputs
        if: ${{! inputs.release}}
        id: plugin-goals
        run: |
          skipTestArg=""
          if ${{ inputs.skipTests }}; then
            skipTestArg="-x test"
          fi
          echo "PLUGIN_GOALS=clean buildPlugin $skipTestArg" >> $GITHUB_OUTPUT

      - name: Build Plugin
        if: ${{! inputs.release}}
        uses: ./.github/actions/build-plugin
        with:
          goals: ${{steps.plugin-goals.outputs.PLUGIN_GOALS}}
          cache-artifacts: ${{ inputs.cache-artifacts }}
