#SPDX-FileCopyrightText: 2017-2024 Enedis
#SPDX-License-Identifier: Apache-2.0

name: "Build all template"

on:
  workflow_call:
    inputs:
      skipTests:
        default: false
        type: boolean
        description: "Skip tests if true"
      release:
        default: false
        type: boolean
        description: "Release if true"
      cache-artifacts:
        default: ""
        type: string
        description: "path of artifacts to be cached"
      server-id:
        type: string
        default: github
        description: "DistributionManagement repository id"

    secrets:
      gpg-private-key:
        description: "Chutney gpg private key"
        required: false
      gpg-passphrase:
        description: "Chutney gpg passphrase"
        required: false
      gpg-key-id:
        description: "Chutney gpg key id"
        required: false
      maven-username:
        description: "MAVEN_USERNAME secret"
        required: false
      maven-password:
        description: "MAVEN_PASSWORD secret"
        required: false
      github-token:
          description: "GITHUB_TOKEN secret"
          required: false

    outputs:
      PROJECT_VERSION:
        description: "Chutney Version"
        value: ${{ jobs.all.outputs.PROJECT_VERSION }}

defaults:
  run:
    working-directory: .

jobs:
  all:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
          server-id: ${{inputs.server-id}}
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.gpg-private-key }}
          gpg-passphrase: CHUTNEY_GPG_PASSPHRASE

      - name: Retrieve chutney version from pom.xml
        id: get-version
        run: echo "PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT && cd ..

      - name: Resolve plugin gradle goal from inputs
        if: ${{! inputs.release}}
        id: plugin-goals
        run: |
          skipTestArg=""
          if ${{ inputs.skipTests }}; then
            skipTestArg="-x test"
          fi
          echo "PLUGIN_GOALS=clean buildPlugin --build-cache $skipTestArg" >> $GITHUB_OUTPUT

      - name: Display directories size
        run: |
          du -h -d1 / | sort -hr | head -n 20
          find /home/runner/.m2/repository/io -type d -print0 | xargs -0 rm -rf
          find /home/runner/.m2/repository/org -type d -print0 | xargs -0 rm -rf
          cd /usr
          ls -al
          cd ..
          cd /home
          df -Ph . | tail -1 | awk '{print $4}'

      - name: Build Plugin
        if: ${{! inputs.release}}
        uses: ./.github/actions/build-plugin
        with:
          goals: ${{steps.plugin-goals.outputs.PLUGIN_GOALS}}
          cache-artifacts: ${{ inputs.cache-artifacts }}

      - name: Space left
        run: |
          cd /home/runner/.gradle/caches
          du -h -d1 / | sort -hr | head -n 20
          du -sk

    outputs:
        PROJECT_VERSION: ${{ steps.get-version.outputs.PROJECT_VERSION }}
